<%= form_with(model: movement) do |form| %>
  <% if movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
        <% movement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movement_date %>
    <%= form.datetime_select :movement_date %>
  </div>

  <div class="field">
    <%= form.label :movement_type %>
      <select name="movement[movement_type]">
        <option value="1">Gasto</option>
        <option value="2">Ingreso</option>
      </select>
  </div>



  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :account_id %>
    <%= form.collection_select(:account_id, Account.all, :id, :name) %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
