<p id="notice"><%= notice %></p>

<p>
  <strong>Movement date:</strong>
  <%= @movement.movement_date %>
</p>

<p>
  <strong>Movement type:</strong>
  <%= @movement.movement_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movement.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @movement.amount %>
</p>

<p>
  <strong>Account:</strong>
  <%= @movement.account_id %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
