<p id="notice"><%= notice %></p>

<h1>Team Pilots</h1>

<form method="d-flex" action="/team_pilots">
<h4> Search </h4>
 <input class="form-control me-2" placeholder="pilotos"  aria-label= "Search"type="text" name="filter" />
 <br>
 <input class="form-control me-2" placeholder="equipos"  aria-label= "Search"type="text" name="filter2" />
 <br>
<button class="btn btn-primary" type="submit">Search</button>

<select name="team_id">
    <option value="">Seleccione equipo</option>
    <% Team.all.each do | d | %>
      <option value="<%= d.id %>"><%= d.name %></option>
    <% end %>
  </select>
  <input type="submit" />
<br>
<br>
<h2>Pilotos</h2>
<table>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Pilot</th>
      <th>Team</th>
      <th>Marca</th>
      <th>Puntaje</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_pilots.each do |team_pilot| %>
      <tr>
        <td><%= team_pilot.championship.championship%></td>
        <td><%= team_pilot.pilot.full_name %></td>
        <td><%= team_pilot.team.name %></td>
        <td><%= team_pilot.team.brand.name %></td>
        <td><%= link_to 'Show', team_pilot %></td>
        <td><%= link_to 'Edit', edit_team_pilot_path(team_pilot) %></td>
        <td><%= link_to 'Destroy', team_pilot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>






<br>
<h2>Marcas</h2>


<table>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Team</th>
      <th>Marca</th>
      <th>Puntaje</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_pilots.each do |team_pilot| %>
      <tr>
        <td><%= team_pilot.championship.championship%></td>
        <td><%= team_pilot.team.name %></td>
        <td><%= team_pilot.team.brand.name %></td>
        <td><%= link_to 'Show', team_pilot %></td>
        <td><%= link_to 'Edit', edit_team_pilot_path(team_pilot) %></td>
        <td><%= link_to 'Destroy', team_pilot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<br>
<h2>Equipos</h2>


<table>
  <thead>
    <tr>
      <th>Championship</th>
      <th>Marca</th>
      <th>Puntaje</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_pilots.each do |team_pilot| %>
      <tr>
        <td><%= team_pilot.championship.championship%></td>
        <td><%= team_pilot.team.brand.name %></td>
        <td><%= link_to 'Show', team_pilot %></td>
        <td><%= link_to 'Edit', edit_team_pilot_path(team_pilot) %></td>
        <td><%= link_to 'Destroy', team_pilot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team Pilot', new_team_pilot_path %>
