<%= form_with(model: championship) do |form| %>
  <% if championship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(championship.errors.count, "error") %> prohibited this championship from being saved:</h2>

      <ul>
        <% championship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :championship %>
    <%= form.text_field :championship %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
