<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>Championship:</strong>
  <%= @race.championship_id %>
</p>

<p>
  <strong>Circuit:</strong>
  <%= @race.circuit_id %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
