<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @lap.number %>
</p>

<p>
  <strong>Position:</strong>
  <%= @lap.position %>
</p>

<p>
  <strong>Time:</strong>
  <%= @lap.time %>
</p>

<p>
  <strong>Pilot:</strong>
  <%= @lap.pilot_id %>
</p>

<p>
  <strong>Race:</strong>
  <%= @lap.race_id %>
</p>

<%= link_to 'Edit', edit_lap_path(@lap) %> |
<%= link_to 'Back', laps_path %>
