<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @sujeto.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @sujeto.last_name %>
</p>

<p>
  <strong>Document number:</strong>
  <%= @sujeto.document_number %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @sujeto.birthday %>
</p>

<%= link_to 'Edit', edit_sujeto_path(@sujeto) %> |
<%= link_to 'Back', sujetos_path %>
