<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @pilot.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @pilot.last_name %>
</p>

<%= link_to 'Edit', edit_pilot_path(@pilot) %> |
<%= link_to 'Back', pilots_path %>
