<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @account.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @account.date_to %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
